{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="content">
        <div id="Home">
            <div class="bkg-image">
                <div class="bkg-text">
                    <font size="7" face="verdana" color="white">
                        <center><b>BROS</b></center>
                    </font>
                    <br><br><br><br><br><br>
                    <form action="" method="post">
                        {% csrf_token %}
                        <center>
                            <div class="boxed">
                                <h3 align="center"><b>Fill the details:</b></h3>                                
                                <!-- Table Layout for Form -->
                                <table>
                                    <tr>
                                        <td><label for="uname"><b><font size="4">USERNAME</font></b></label></td>
                                        <td><input type="text" id="uname" name="uname" placeholder="Enter Gmail" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="psw"><b><font size="4">PASSWORD</font></b></label></td>
                                        <td><input type="password" id="p1" name="p1" placeholder="Enter password" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="fname"><b><font size="4">FIRST NAME</font></b></label></td>
                                        <td><input type="text" id="fname" name="fname" placeholder="Enter first name" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="lname"><b><font size="4">LAST NAME</font></b></label></td>
                                        <td><input type="text" id="lname" name="lname" placeholder="Enter last name" required></td>
                                    </tr>
                                    <tr>
                                        <td><label for="nb"><b><font size="4">CONTACT</font></b></label></td>
                                        <td><input type="number" id="nb" name="nb" placeholder="Enter contact no" min="1111111111" max="99999999999" required></td>
                                    </tr>
                                </table>

                                <br><br>
                                <button type="submit"><b>Sign up</b></button>
                            </div>
                        </center>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
